.img-login{
    width: 400px;
    border-radius: 25px;
    margin: 15;
    margin: 10px 6px 6px 2px;
}

.border-form{
    border: solid dodgerblue 4px;
    border-radius: 25px;
}

.background-img{
    background-color: rgb(55 181 255);
    border-radius: 20px 0px 0px 20px;
}

.padding-form{
    padding: 0px 85px 0px 85px
}

.title-form{
    font-size: 30px;
    font-weight: bold;
    color: dodgerblue;
}

.color-button{
    background-color: dodgerblue;
}

.color-button:hover{
    background-color: rgba(33, 144, 255, 0.678) !important;
}

.background-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../Imagenes/Fondo\ Dulce\ Adictos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.text-background-imagen{
    font-size: 80px;
    font-weight: bold;
    color: white
}

.title-productos{
    font-size: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.us{
    height: 95vh;
}

.title-nosotros{
    font-size: 70px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

